
<form method="post" action="admin_ads.php">

	<select name="tablename"><option value="ads">Adds</option><option value="newads">New adds</option></select>
	<input type="number" name="id">
	<input type="text" name="name">
	<input type="url" name="link">
	<input type="file" name="picture">
	<input type="text" name="coords">
	<input type="submit" value="Submit">

</form>

<form method="post" action="admin_blogposts.php">

	<input type="number" name="id">
	<input type="text" name="title">
	<textarea name="body" rows="3" cols="15">
	<input type="datetime" name="from_datetime">
	<input type="datetime" name="to_datetime">
	<input type="submit" value="Submit">

</form>
