
<form class="userForm" method="post" action="admin_page.php">
	<input type="submit" value="Logout!">
</form>

<br/>

<form class="userForm" method="post" action="admin_page.php">

	Old password: <input type="password" name="password" placeholder="password"><br/>
	New password: <input type="password" name="new1" placeholder="new password"><br/>
	Repeat password: <input type="password" name="new2" placeholder="repeat password"><br/>
	<input type="submit" value="Change password">

</form>
<br/><hr/>